[user]
	email = ferdinand.swoboda@googlemail.com
	name = Ferdinand Swoboda
	signingkey = AAC21F752169DD48
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
[color]
	# Enable colors in color-supporting terminals
	ui = auto
[alias]
	glog = log --stat --graph --decorate --all --color
[core]
	# Don't consider trailing space change as a cause for merge conflicts
	whitespace = -trailing-space
	editor = nano
	autocrlf = input
	hooksPath = ~/.config/git/hooks
	pager = delta
[submodule]
	recurse = true
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[status]
	# Display submodule rev change summaries in status
	submoduleSummary = true
[tag]
	# Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
	sort = version:refname
[log]
	decorate = full
[rebase]
	autoSquash = true
[merge]
	conflictstyle = diff3
[stash]
	showPatch = true
[transfer]
	fsckobjects = false
[gpg]
	program = gpg
[commit]
	gpgsign = true
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
